.carrossel-carreiras {
    .carrossel-carreiras-slide {
        width: 375px;
        height: 320px;
        background-color: #fff;
    }

    .carrossel-carreiras-slide-progresso {
        height: 350px;

        .carrossel-carreiras-infos {
            height: 190px;
        }
    }

    @media (max-width: 400px) {
        .carrossel-carreiras-slide {
            width: 350px;
        }
    }

    @media (max-width: 370px) {
        .carrossel-carreiras-slide {
            width: 320px;
        }
    }
}