.form-input-login {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25) !important;
    border-color: var(--bs-auxiliary2-project) !important;
}

.form-password-icon-login {
    right: 12px;
    top: 12px;
    position: absolute;
    cursor: pointer;
}

.container-login {
    padding: 112px 1.5rem;
}