// colorProject
$project-primary: #0000FF;
$project-secondary: #FDEBC8;

// auxiliary Colors
$project-auxiliary1: #252525;
$project-auxiliary2: #454545;
$project-auxiliary3: #D9D9D9;
$project-auxiliary4: #3D3D3D;
$project-auxiliary5: #E7E7E7;
$project-auxiliary6: #000;
$project-auxiliary7: #000;
$project-auxiliary8: #000;
$project-auxiliary9: #000;
$project-auxiliary10: #000;

$danger: #000;